<p>Attachinary uploading</p>
<%= form_for(@user) do |f| %>
	<p>Upload Avatar
		<%= f.attachinary_file_field :avatar %>
	</p>
	<%= f.submit %>
<% end %>

<p>Other uploading</p>
<%= form_tag("climages/", :method => :post) do  %>
  <%= cl_image_upload_tag(:image_id) %>
<% end %>