<h1>Sign Up!</h1>
<%= render "layouts/errors" %>

<p>Avatar Uploading</p>
<%= form_for(@user) do |f| %>
	
	<%= f.text_field :username %>
	<%= f.password_field :password %>

	<p>Upload Avatar
		<%= f.attachinary_file_field :avatar %>
	</p>
	<%= f.submit("Save")%>
<% end %>	