<!DOCTYPE html>
<html>
<head>
  <title>Hesigram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<%= cloudinary_js_config %>
</head>
<body>

<% if signed_in? %>
	 <%= cl_image_tag(current_user.avatar.path,
	  { size: '50x50'}) %>
	<%= current_user.username %>
	<%= button_to "Sign Out...", session_url, method: :delete %>
	
	<% current_user.images.each do |img| %>
	    <%= cl_image_tag(img.path, { size: '125x125', crop: :fit }) %>
	<% end %>
<% else %>
	<%= link_to "Sign In", new_session_url %>
	<%= link_to "Sign Up!", new_user_url %>
<% end %>



<!--Figaro constants -->

<%= yield %>

</body>
</html>
