<!DOCTYPE html>
<html>
<head>
  <title>Hesigram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<%= cloudinary_js_config %>
</head>
<body>

<% if signed_in? %>

	 <%= cl_image_tag(current_user.avatar.path,
	  {:width => 50, :height => 50, :crop => :fill, :radius => 20, :effect => "negate"}) %>
	<%= current_user.username %>
	<%= button_to "Sign Out...", session_url, method: :delete %>
<% else %>
	<%= link_to "Sign In", new_session_url %>
	<%= link_to "Sign Up!", new_user_url %>
<% end %>



<!--Figaro constants -->

<%= yield %>

</body>
</html>
